<div class="container">
  <div class="header">
    <h1>FreeSkwela</h1>
	<p>Discover free training and hackathon to level up your skills.</p>
    <!-- <p>FreeSkwela is a platform that connects learners to free certification and training programs from government and private institutions worldwide. Our goal is to make quality learning accessible to everyone, helping people gain skills and advance their careers without financial barriers.</p> -->
  </div>

  <div class="announcement-section">
      <app-announcement></app-announcement>
      <!-- <hr />
      <app-count-status></app-count-status> -->
  </div>

  <div class="training-section">
      <app-training></app-training>
  </div>
</div>