      <div class="status-container pure-carousel">
        <div class="pure-carousel-track">
            <div class="pure-carousel-item status-card">
              <span class="status-label">Free Trainings</span>
              <span class="status-value">128</span>
            </div>
            <div class="pure-carousel-item status-card">
              <span class="status-label">New Trainings Added</span>
              <span class="status-value">7</span>
            </div>
            <div class="pure-carousel-item status-card">
              <span class="status-label">Expired Trainings</span>
              <span class="status-value">3</span>
            </div>
        </div>
      </div>